/* App.css */
@keyframes fall {
  0% {
    transform: translateY(-100px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

.lixi-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Nền tối nhẹ để nổi bật lì xì */
  z-index: 9999; /* Luôn nổi lên trên cùng */
  cursor: pointer;
  overflow: hidden;
}

.falling-item {
  position: absolute;
  top: -50px;
  animation: fall linear infinite;
  user-select: none; /* Không cho người dùng bôi đen */
}
.overlay{
  position: fixed;
  inset: 0 0 0 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.spinner-rotating-gear {
   width: 56px;
   height: 56px;
   display: grid;
   color: #d02d1b;
   background: radial-gradient(farthest-side, currentColor calc(100% - 6.7px),#0000 calc(100% - 5.6px) 0);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.6px),#000 calc(100% - 13.4px));
   border-radius: 50%;
   animation: spinner-sm4bhi 2.0s infinite linear;
}

.spinner-rotating-gear::before,
.spinner-rotating-gear::after {
   content: "";
   grid-area: 1/1;
   background: linear-gradient(currentColor 0 0) center,
          linear-gradient(currentColor 0 0) center;
   background-size: 100% 11.2px,11.2px 100%;
   background-repeat: no-repeat;
}

.spinner-rotating-gear::after {
   transform: rotate(45deg);
}

@keyframes spinner-sm4bhi {
   100% {
      transform: rotate(1turn);
   }
}
