.main{
    display: flex;
    margin-top: calc(var(--toolbar-height) + 10px);
}


.left{
    flex: 1;
    display: flex;
    flex-direction: column;

}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}
@media screen and (max-width: 600px) {
    .left{
        flex: 1;
        flex-shrink: 1;
    }
    .right{
        flex: 3;
    }
    
}


.mainImg{
    width: 100%;
    max-height: 500px;

}
.mainImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

}
.imgGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    flex-shrink: 0;
}
.imgExtra{
    display: flex;
    gap: 10px;
}
.imgExtra img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    transition: ease 1s linear;

}
.imgExtra img:hover{
    transform: scale(1.09);
}
.imgSelected{
    border: 2px solid red;
}
.ratingGroup{
    display: flex;
    align-items: center;
}
.productName{
    font-size: 30px;
    font-style: italic;
}