.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--toolbar-height);
    display: flex;
    align-items: center;
   background: linear-gradient(to right, red, yellow);
   margin-bottom: var(--toolbar-height);
   padding: 5px;
   z-index: 1000;
}

.logo {
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.logo img{
    align-self: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}


